body {
  font-family: 'Courier New', Courier, monospace;
}

.capitalize {
  text-transform: capitalize;
}

#currentWeather {
  margin: auto;
  width: 30%;
  padding: 0.5rem;
  text-align: center;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  /* border: solid black; */
}

#searchDiv {
  position: absolute;
  left: 4rem;
  top: 4rem;
}
/* loader taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 6rem;
  height: 6rem;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  position: absolute;
  margin: auto;
  top: 8rem;
  left: 0;
  right: 0;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
